.ExchangeRatio {
    display: flex;
    flex-direction: column;
    
    
}

// .upperSideContents {
//     display: flex;
//     flex-direction: column; /* 수직 방향으로 정렬 */
//     align-items: center; /* 수평 가운데 정렬 */
//     justify-content: center; /* 수직 가운데 정렬 */
//     text-align: center; /* 텍스트 가운데 정렬 */
//     margin-right: 10%;
// }

.upperSideContents {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

.helpCheckBox {
    margin-left: 5px;
    position: relative;
}

.helpcontents {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
  
  .goalContents {
    display: flex;
    align-items: center; 
    margin-right: 80px;
    width: 700px;
  }
  
  .helpDialogue {
  
}
  
  .goalSetting {
    width: 400px;
    text-align: center;

}
  
.alarmPlus {
    display: flex;
    flex-direction: column; /* 수직 방향으로 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    margin: 20px auto; /* 전체 너비 기준으로 가운데 위치 */
  }

.upperSideInnerSelectCountry {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50px;
    border: 3px solid #7F9BED;
    font-size: 17px;
    margin-right: 15%;
    width: 200px;
    height: 40px;
    min-width: 250px;
    position: relative;
}



.upper-side-contents {
    display: flex;

}

.helpDialogue {
    font-weight: bold;
    font-size: 20px;
}

.goalSetting{
    font-weight: bolder;
    font-size: 40px;
}

.alarm-plus p {
    font-weight: bold;
    font-size: 30px;

}

.helpCheckBox {
    border: 3px solid gray;
    border-radius: 25%;
    width: 20px;
    height: 20px;
}

.sliderWrapper {
    width: 50%;
    height: 20%;
    
}

.textBox {
    display: flex;
}

.textBoxWon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.lowerSideContents {
    width: 90vw;
    border: 3px solid gray;
    border-radius: 30px;
    margin-left: 5%;
    margin-bottom: -10%;
    height: 30vh;
}

.lowerSideContentsInner {
    margin-left: 10px;
}

.alarmDialogues {
    margin-left: 70%;
    width: 40%;
}

.alarmDialogueSmall {
    font-size: 10px;
    color: gray;
    margin-right: 10%;
}

.alarmDialogueBig {
    font-size: 30px;
    font-weight: bolder;
}

.lowerSideCountry {
    display: flex;
    align-items:center;
    padding: 10px 0;
    gap: 30px;
}

// .lowerSideCountry1, .lowerSideCountry2, .lowerSideCountry3 {
//     display: flex;
//     align-items:center;
//     padding: 10px 0;
//     gap: 30px;
// }

.lowerSideCountry1Name{
    
}

.country2Modify, .country1Modify, .country3Modify {
    margin-left: 70%;
    width: 5%;
}



.lowerSideCountry1Img {
    display: inline-block
}

.flag1, .flag2, .flag3 {
    width: 20px;
    height: 20px;
}

.dropdownContainer {
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: 5px solid #7F9BED;
    border-radius: 30px;
    padding: 0 10px;
    appearance: none;
    outline: none;
}


  .helpText1 {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadein 1s;
    margin-left: 1100px;
    font-weight: bold;
    margin-top: 100px;
  }

  .helpText2 {
  
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 700px;
    animation: fadein 1s;
    margin-top: -70px;
    font-weight: bold;
  }
   .helpText3 {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    animation: fadein 1s;
    margin-left: 700px;
  }
   .helpText4 {
    animation: fadein 1s;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 1000px;
    font-weight: bold;
    margin-top: -80px;
  }

  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}