.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBar {
  display: flex;
  width: 80%;
  position: relative;
  background-color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.inactive {
  background-color: #ebebeb;
}

.TabSetting {
  text-align: center;
  padding: 10px 40px 40px 40px;
  width: 50%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 120%;
}

.BudgetSetting {
  text-align: center;
  padding: 10px 40px 40px 40px;
  width: 50%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 120%;
  right: 0;
}

.TabList {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.TabItem {
  flex: 1;
  padding: 12px 0 0 0;
  text-align: center;
  cursor: pointer;
  transition: opacity 180ms ease-out;
  outline: 0;
  font-weight: 900;
  color: lightgray;

  &.isActive {
    color: black;
  }
}

.ClickSlideWrapper {
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.ClickSlide {
  width: 14.2857%;
  position: relative;
  bottom: 0;
  height: 2px;
  background-color: #222222;
  transition: 800ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 2;
}

.TabContentItem {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  min-width: 80px;
  max-width: 80px;
  background-color: #ebebeb;
  border-radius: 20px;
  font-size: 14px;
  color: #787878;
}

.ContinentBtn {
  border: none;
  // border: 1px solid #7F9AED;
  box-shadow: 0 1px 8px rgba(127, 154, 237, 0.8);
  background-color: #fff;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #7F9AED;
  margin-top: 8%;
  width: 100%;
  height: 60px;
  &:hover {
    background-color: #7F9AED;
    color: white;
  }
}

.TravelDestinationContainer, .BudgetContainer {
  width: 100%;
  border-radius: 50px;
  padding-left: 4%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ebebeb;
  }
}

.clicked {
  background-color: white !important;
}

.inactive {
  background-color: #ebebeb;
}

.TravelDestination {
  font-size: 18px;
  color: #333;
  font-weight: 700;
}

.TravelDestinationSearch, .BudgetInput {
  font-size: 16px;
}

.underline {
  width: 80%;
  border-bottom: 1px solid gray;
  padding-top: 2%;
  padding-bottom: 2%;
}

.SearchBtn {
  border: none;
  outline: none;
  width: 10%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 5%;
}

.SearchImg {
  padding: 0;
  margin: 0;
  width: 100px;
  &:hover {
    opacity: 0.5;
  }
}
