.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBar {
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
  width: 80%;
=======
  align-items: center;
  width: 60%;
  height: 100px;
>>>>>>> 958359b (feat: recommendation section edit)
  position: relative;
  background-color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.inactive {
  background-color: #ebebeb;
=======
  width: 70%;
  position: relative;
  background-color: gray;
  border-radius: 50px;
>>>>>>> 60918ff (feat: Recommendation page 1)
}

.TabSetting {
  text-align: center;
<<<<<<< HEAD
  padding: 10px 40px 40px 40px;
  width: 50%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 120%;
}

.BudgetSetting {
  text-align: center;
  padding: 10px 40px 40px 40px;
  width: 50%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 120%;
  right: 0;
=======
  padding: 0 40px 40px 40px;
  width: 50%;
  background-color: white;
  border: 1px solid #a5acb1;
  border-radius: 5px;
  position: absolute;
  top: 120%;
  right: 40%;
}

.BudgetSetting {
  padding: 0 5%;
  width: 50%;
  border: 1px solid #a5acb1;
  background-color: white;
  position: absolute;
  top: 120%;
  right: 5%;
>>>>>>> 60918ff (feat: Recommendation page 1)
}

.BudgetSettingInput {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  margin-left: 10%;
  outline: none;
	-webkit-border-radius: 0;
  width: 80%;
  outline: none;
  background-color: transparent;
  color: #222222;
  opacity: 50%;
  border: 0;
  font-size: 1.1rem;

  &:focus {
    outline: none;
  }
}

.won {
  font-size: 1.7rem;
}

.BudgetSettingInputContainer {
  position: relative;
}

.line {
  display: inline-block;
  width: 80%; 
  height: 3px; 

  &:after {
    content: '';
    width: 80%;
    height: 2px;
    background: #222222;
    opacity: 30%;
    transform: scaleX(0);
    position: absolute;
    transition: transform 250ms ease-in-out;
    bottom: 0;
    left: 10%;
    animation: underline-slide 1s ease forwards;
  }
}

@keyframes underline-slide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.TabList {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.TabItem {
  flex: 1;
  padding: 12px 0 0 0;
  text-align: center;
  cursor: pointer;
  transition: opacity 180ms ease-out;
  outline: 0;
  font-weight: 900;
  color: lightgray;

  &.isActive {
    color: black;
  }
}

.ClickSlideWrapper {
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.ClickSlide {
  width: 14.2857%;
  position: relative;
  bottom: 0;
  height: 2px;
  background-color: #222222;
  transition: 800ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 2;
}

<<<<<<< HEAD
.TabContentItem {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  min-width: 80px;
  max-width: 80px;
  background-color: #ebebeb;
  border-radius: 20px;
  font-size: 14px;
  color: #787878;
}

.ContinentBtn {
  border: none;
  // border: 1px solid #7F9AED;
  box-shadow: 0 1px 8px rgba(127, 154, 237, 0.8);
  background-color: #fff;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #7F9AED;
  margin-top: 8%;
  width: 100%;
  height: 60px;
  &:hover {
    background-color: #7F9AED;
    color: white;
  }
}

.TravelDestinationContainer, .BudgetContainer {
  width: 100%;
  height: 100px;
  border-radius: 50px;
  padding-left: 5%;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background-color: #ebebeb;
  }
}

.clicked {
  background-color: white !important;
}

.inactive {
  background-color: #ebebeb;
}
=======

.TabContentItem {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  background-color: lightgray;
  border-radius: 4px;
  font-size: 14px;
  color: #222222;
}

.ContinentBtn {
  margin-top: 10%;
  width: 20%;
  height: 50px;
}


.TravelDestinationContainer {
  width: 100%;
  border: 1px solid gray;
  border-radius: 50px;
  padding-left: 4%;
  &:hover {
    background-color: white;
  }
}

.BudgetContainer {
  width: 100%;
  border: 1px solid gray;
  border-radius: 50px;
  padding-left: 4%;
  &:hover {
    background-color: white;
  }
}

>>>>>>> 60918ff (feat: Recommendation page 1)

.TravelDestination {
  font-size: 17px;
  color: #333;
  font-weight: 700;
  
}

.Budget {
  font-size: 17px;
  color: #333;
  font-weight: 700;
}

<<<<<<< HEAD
.TravelDestinationSearch, .BudgetInput {
  font-size: 14px;
  margin-top: -2.5%;
  color: #949494;
}

=======
.TravelDestinationSearch { 
  font-size: 16px;
}


>>>>>>> 60918ff (feat: Recommendation page 1)
.underline {
  width: 80%;
  border-bottom: 1px solid gray;
  padding-top: 2%;
  padding-bottom: 2%;
}


.SearchImg {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  width: 100px;
<<<<<<< HEAD
=======
  width: 12%;
  position: absolute;
  right: 1%;
>>>>>>> 958359b (feat: recommendation section edit)
  &:hover {
    opacity: 0.5;
  }
}
=======
}
>>>>>>> 60918ff (feat: Recommendation page 1)
