.nav-bar {
  display: flex;
  align-content: space-between;
  width: 100vw;
  height: 10vh;
  align-items: center;
}

.nav-nar-inner-logo-img {
  display: inline-block;
}

.nav-bar-inner-recomm , .nav-bar-inner-exchange, .nav-bar-inner-log{
  display: inline-block;

}